.content{
  padding:0px 0px 30px 30px;
}
.overcontent{
  padding:0px 0px 5px 5px;
  background: none no-repeat;
}

.imgcontent {
  float: right;
  width: 72px;
  margin: 5px;
}

img {

  width: 62px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
blockquote {
  font-size: 20px;
  margin: 0.25em 0;
  padding: 0.25em 25px;
  line-height: 1.15;
  position: relative;
  color: #FFFFFF;
}

/*blockquote:before {*/
  /*display: block;*/
  /*content: "\201C";*/
  /*font-size: 80px;*/
  /*position: absolute;*/
  /*left: -20px;*/
  /*top: -20px;*/
  /*color: #7a7a7a;*/
/*}*/

blockquote cite {
  color: #CCCCCC;
  display: block;
  
}

blockquote cite:before {
  content: "\2014 \2009";
}
